<div class="col-md-10 col-md-offset-1">
<h1>Questions</h1>

<% if @questions %>
    <% @categories.each do |c| %>
        <%= c.name %> 
        <ul>
        <% c.questions.order('updated_at DESC').each do |q| %>
                <li><%= link_to q.title, question_path(q) %> by <%= q.user.username %>  </li>     
        <% end %>
        </ul>
    <% end %>
<% end %>

 

 <%= link_to 'Ask a Question', new_question_path %>

</div>




