 <div class="wrapper">

    <div class="col-md-10 col-md-offset-1 text-center">
 
        <h2>Welcome, programmers!</h2>

        <br/>
        <br/>


        <% if !logged_in? %>

            <%= link_to signup_path do %>
                <div class="btn btn-info">
                    <i class="fa fa-user-plus"></i> Sign up
                </div>
            <% end %>

             <%= link_to login_path do %>
                <div class="btn btn-info">
                    <i class="fa fa-sign-in"></i> Log in
                </div>
            <% end %>
 
            <%= link_to '/auth/google_oauth2' do %>
                <div class="btn btn-info">
                    <i class="fa fa-google"></i> Sign in with Google
                </div>
            <% end %>
  
        <% end %>
 
    </div>
</div>