<div class="col-md-10 col-md-offset-1">
 
<h3> <%= current_user.username %>'s Page </h3>
<br>

<h4> Questions that I asked </h4>
<%= render partial: 'questions/question', collection: @my_questions %>
<br>

<h4> Questions that I answered </h4>
<%= render partial: 'answers/answered', collection: @my_answers %>
<br>

<h4> My open questions</h4>
<%= render partial: 'questions/question', collection: @my_questions.unanswered %>

 </div>