  <%= form_for ([@question, answer]) do |f| %>


    <div class="form-group">
        <%= f.label :comment  %>
        <%= f.text_area :comment, :rows => 5, class: "form-control" %>
    </div>

     <%= f.submit submit_text, class: 'btn btn-info' %>


  <% end %>
 