 <!--<h1>Answers _form view </h1> -->
 
 <h4>Add a comment: </h4>
 <%= form_for ([@question, @question.answers.build]) do |f| %>
    <%= f.label :comment  %>
    <%= f.text_area :comment %>

    <%= f.button :submit, :class => 'btn-custom' %>
  <% end %>
 
 