<div class="col-md-10 col-md-offset-1">
    <h2>Questions</h2>

     <% if @questions.any? %>
     <h4>All questions </h4>

        <% @categories.each do |c| %>
            <%= link_to c.name, category_path(c) %> 
            <ul>
                <% if c.questions.any? %>
                    <% c.questions.order('updated_at DESC').each do |q| %>
                        <li><%= link_to q.title, admin_question_path(q) %>    </li>  
                    <% end %>

                <% else %> 
                    No questions yet.
                <% end %>
            </ul>
        <% end %> 
    <% end %>

 

</div>

