

<div class="col-md-10 col-md-offset-1">

<h3>Categories</h3>
<%= render partial: 'category', collection: @categories %>


<% if logged_in? && current_user.admin %>
<div class="btn btn-info btn-xs">
    <%= link_to "Add a new category", new_category_path, class:"btn" %>
</div>


<% end %> 

</div>

 