<div class="col-md-10 col-md-offset-1">

<h3>Questions about <%= @category.name %> </h3>


<ul>
<% @category.questions.each do |q| %>
    
    <li><%= link_to q.title, category_question_path(@category, q) %></li>

<% end %> 
</ul>

<% if current_user.admin %>
    <%= render 'form', submit_text: "Edit Category"%>
    <%= link_to "Delete Category", category_path(@category), class: "btn btn-warning" , method: :delete, data: { confirm: "Are you sure?" } %>

<% end %>

</div>